@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans:700&display=swap');

$primarycolor: #ff3b3f;
$secondarycolor: #a9a9a9;
$tertiarycolor: #efefef;

$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

$primaryfont: 'Open Sans', sans-serif;
$secondaryfont: 'Muli', sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: $secondaryfont;
  background-color: $tertiarycolor;
  height: 100vh;
}

main {
  height: 100%;
  background-color: $tertiarycolor;
}

h1 {
  font-size: 40px;
  font-family: $secondaryfont;
  color: $primarycolor;
}

h2 {
  font-size: 20px;
  font-family: $secondaryfont;
  color: $primarycolor;
}

// NAVBAR ======================================

.navbar {
  box-shadow: $box-shadow;
  height: 100px;
  margin-bottom: 50px;
}

// BROWSE LISTINGS =============================

section {
  box-shadow: $box-shadow;
  background-color: #ffffff;
  margin-bottom: 80px;
}

.listing-wrapper {
  width: 350px;
  font-weight: normal;
  background-color: #fff;
  border-right: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  padding: 40px;
}

.listing-title {
  font-family: $primaryfont;
  font-size: 20px;
  color: $primarycolor;
  line-height: 1.2rem;
  margin: 5px 0 10px 0;

  a {
    color: $primarycolor;
  }
}

.listing-price {
  font-size: 18px;
  font-weight: bold;
}

.listing-postage {
  font-size: 14px;
  color: #a9a9a9;
  margin-bottom: 10px;
}

.listing-description {
  font-size: 14px;
}

.listing-categories {
  font-size: 12px;
  text-transform: lowercase;
  color: $primarycolor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;

  div.category:not(:last-child) {
    padding-right: 8px;
  }
}

// LISTING SHOW ======================================

.wrapper {
  padding: 40px 60px;
}

.listing-show-title {
  font-family: $secondaryfont;
  font-size: 40px;
  color: #ff3b3f;
  padding-bottom: 20px;
  line-height: 45px;
}

.listing-show-right-column {
  margin-right: 70px;
}

.listing-show-item-info {
  font-size: 14px;
}

.add-basket-container {
  width: 100%;
  height: 224px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-basket-button {
  width: 380px;
  height: 80px;
  border-radius: 10px;
  background-color: #ff3b3f;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .add-basket-text {
  font-family: $secondaryfont;
  font-size: 40px;
  color: #ffffff;
  }
}

.add-basket-price {
  font-size: 40px;
  font-family: $secondaryfont;
}

// CART ============================================


.cart-line-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 100px;
    padding-right: 30px;
  }

  .cart-line-item-content {
    font-size: 20px;
    color: $primarycolor;

    &.price{
      color: #000;
    }
  }
}
